@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&family=Source+Sans+Pro:wght@300;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background-image: url(images/bgim.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 375px;
  height: 40px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 45px;
}
header {
  width: 375px;
  height: 67px;
  background: #fff;
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.profile-img {
  border-radius: 50px;
  width: 35px;
  margin: 0 5px;
  margin-right: 10px;
}

.name-location{
  display: flex;
  padding: 10px;
}

.location-p{
  font-size: 12px;
  margin: 0;
}

p{
  font-size: 13px;
  margin: 0;
  margin-top: 5px;
  line-height: 15px;
}

span{
  font-weight: 700;
}


.user-image{
  width: 37px;
  border-radius: 100px;
  height: 36px;
}

#vincent-info {
  display: flex;
}

.logo-image {
  width: 127px;
  height: 50px;
  padding-right: 183px;
  padding-left: 15px;
}

.post-img {
  width: 375px;
  height: 400px;
  background-size: cover;
}
.main-post {
  background: #fff;
}
.heart-icon,
.comment-icon {
  width: 30;
  height: 30;
}

.new {
  width: 30px;
}
.all-icons {
  background: #fff;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 0px;
}
.caption {
  background: #fff;
  padding-top: 1px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: source sans pro;
  font-weight: 400;
  font-size: 13px;
}
.name {
  font-family: source sans pro;
  font-weight: 700;
  font-size: 13px;
  padding-bottom: 0px;
  padding-left: 2px;
}

#comment{
  font-weight: 400;
}
.comments{
  margin: 10px 12px;
  margin-bottom: 15px;
}

.likes-p{
  margin: 0 13px;
  font-size: 14px;
}
